.topbar {
    position: fixed;
    top: 0;
    left: 280px;
    right: 0;
    height: 64px;
    padding: 0 40px;
    background: var(--color-topbar-bg);
    border-bottom: 1px solid rgba(199, 197, 212, 0.20);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;;
}

.tabs {
    display: flex;
    align-items: center;
    gap: 24px;
}

.tabInactive {
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 500;
}

.tabActive {
    padding-bottom: 4px;
    border-bottom: 2px solid var(--color-page-bg);
    color: var(--color-page-bg);
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 700;
}

.actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

.avatar {
    width: 32px;
  height: 32px;
  border-radius: 12px;
  background: var(--color-page-bg);
  box-shadow: 0 0 0 2px rgba(7, 1, 117, 0.20);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--font-sans);
  font-size: 12px;
  font-weight: 600;
}